
body {
    
    background-color: rgb(255, 224, 153);
    font-size: 25px;
    height: 100vh;
    margin: 0;

   
}

img {
    width: 500px; /* Ширина за компютър */
    max-width: 100%; /* На телефон няма да надвишава ширината на екрана */
    height: auto; /* Запазва правилните пропорции на снимката */
    padding: 10px;
    box-sizing: border-box; /* Предотвратява излизането на снимката от екрана заради padding-а */
    border-radius: 35px;
}

h1 ,
h2 {
    text-align: center;
}

li, img {
    padding: 10px;
}

.main-img {
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 50px;
}

img {
    width: 500px;
}

.home {
    display: block;
    text-align: center;
    color: rgb(43, 43, 43);
    font-size: 70px;
    text-decoration: none;
    
}
